<!DOCTYPE html>
<html>
<head>
    <title>RESTful Frontend</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
</head>
<body>
<br /><br />
<div class="container" style="width:600px;">
    <h3 align="center">REST Method tester</h3>
    <br />
    <div ng-app="frontendApp" ng-controller="frontendController">
        <select name="method" ng-model="method" class="form-control">
            <option value="" disabled>Select Method</option>
            <option value="get1">GET (no parameters)</option>
            <option value="get2">GET (with parameters)</option>
            <option value="post">POST</option>
        </select>

        <div class="form-group">
            <label for="value1">Value 1</label>
            <input type="text" class="form-control" id="value1" ng-model="value1">
        </div>

        <div class="form-group">
            <label for="value2">Value 2</label>
            <input type="text" class="form-control" id="value2" ng-model="value2">
        </div>

        <label>
            <input type="checkbox" ng-model="json">
            JSON
        </label>
        <hr>
        <button type="submit" class="btn btn-default" ng-click="updateMethods()">SEND</button>

        <h4 align="center">Response from backend</h4>
        <textarea name="output" class="form-control">
            {{response}}
        </textarea>
    </div>
</div>
</body>
</html>
<script>
    var app = angular.module("frontendApp",[]);
    app.controller("frontendController", function($scope, $http){
        var $endpointUrl = "http://localhost:8080/endpoint";
        $scope.updateMethods = function(){
            switch($scope.method) {
                case "get1":
                    if ($scope.json) {
                        $http({
                            method: 'GET',
                            url: $endpointUrl + '?format=json',
                        }).then(function (response) {
                            $scope.response = response.data;
                        });
                    }
                    else {
                        $http({
                            method: 'GET',
                            headers: {
                                'Accept': 'text/plain'
                            },
                            url: $endpointUrl
                        }).then(function (response) {
                            $scope.response = response.data;
                        });
                    }
                    break;

                case "get2":
                    if ($scope.json) {
                        $http({
                            method: 'GET',
                            url: $endpointUrl + '?format=json&alma=' + $scope.value1 + "&korte=" + $scope.value2,
                        }).then(function (response) {
                            $scope.response = response.data;
                        });
                    }
                    else {
                        $http({
                            method: 'GET',
                            headers: {
                                'Accept': 'text/plain'
                            },
                            url: $endpointUrl + '?alma=' + $scope.value1 + "&korte=" + $scope.value2,
                        }).then(function (response) {
                            $scope.response = response.data;
                        });
                    }
                    break;

                case "post":
                    if ($scope.json) {
                        $http({
                            method: 'POST',
                            url: $endpointUrl + '?format=json&value1=' + $scope.value1 + "&value2=" + $scope.value2,
                        }).then(function (response) {
                            $scope.response = response.data;
                        });
                    }
                    else {
                        $http({
                            method: 'POST',
                            headers: {
                                'Accept': 'text/plain'
                            },
                            url: $endpointUrl + '?value1=' + $scope.value1 + "&value2=" + $scope.value2,
                        }).then(function (response) {
                            $scope.response = response.data;
                        });
                    }
                    break;
            }
        }
    });
</script>